@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.navbar-nav .nav-item.dropdown:hover > .dropdown-menu {
  display: block;

  .dropdown-toggle::after {
    rotate: -90deg;
  }

  .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -9px;
  }

  .nav-link.active, .nav-link:active {
    color: var(--#{$prefix}dropdown-link-active-color);
  }
}
